<html>

<head>
  <title>Experiment Complete</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="../stylesheets/base.css" rel="stylesheet">
  <!-- link(href='../stylesheets/overview.css', rel='stylesheet')-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/jquery.cookie.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/final.js" charset="utf-8"></script>
</head>

<body>
  <p><img src="https://www.kuleuven.be/internationaal/thinktank/TT/fotos-en-logos/ku-leuven-logo.png" height="50"></p>
  <h1 class="header">Thanks!</h1>
  <p>Thank you very much for completing the experiment. You can close this tab now.</p>
  <p>If you signed up to be kept informed of the results of this experiment, we will be in touch with you soon. If you have any questions regarding the experiment, please do not hesitate to contact the researchers: ir. Martijn Millecamp (martijn.millecamp@kuleuven.be)
    and Dr. Nyi Nyi Htun (nyinyi.htun@kuleuven.be).
  </p>
</body>

</html>