<!DOCTYPE html>
<html>

<head>


</head>

<body>

  <div id="infoArtists" class="infoblock">
    <h1>Artists</h1>
    <p style="white-space:pre;" class="warningLimitNb">You can only select 3 artists. Please deselect another artist.</p>
    <input id="search" type="search" placeholder=" Search..">
    <div id="searchList">
        <p>What are you looking for? </p>
        <div id="searchResults"></div>

    </div>
    <div id="artistList">
        <p style="white-space:pre;" class="noTopArtists">No artists found. </br>Please search some!</p>
    </div>
  </div>

  <div id="slidersContainer" class="sliders">
      <h1>Attributes</h1>
      <div id="sliders"></div>
  </div>




</body>

</html>