<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="../js/templates.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/scatterplot.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/column1.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/sliders.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/barchart.js" charset="utf-8"></script>




    <link rel="stylesheet" type="text/css" href="../stylesheets/column1.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/artist.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/slider.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>

  <div id="infoArtists" class="infoblock">
    <h1>Artists</h1>
    <p style="white-space:pre;" class="warningLimitNb">You can only select 3 artists. Please deselect another artist.</p>
    <input id="search" type="search" placeholder=" Search..">
    <div id="searchList">
        <p>What are you looking for? </p>
        <div id="searchResults"></div>

    </div>
    <div id="artistList"></div>
  </div>

  <div id="sliders" class="sliders">
      <h1>Attributes</h1>
      <div id="sliders"></div>
  </div>




</body>

</html>