<!DOCTYPE html>
<html>

<head>
  <link href="../../public/stylesheets/column1.css" rel="stylesheet">
  <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/column1.js" charset="utf-8"></script>
</head>

<body>
  <div id="infoArtists" class="infoblock">
    <h1>Select Artists</h1>
    <p style="white-space:pre;" class="warningLimitNb">You can only select 5 artists. Please deselect another artist.</p>
    <input id="search" type="search" placeholder="Search..">
  </div>



</body>

</html>