<!DOCTYPE html>
<html>

<head>


</head>

<body>

  <div id="infoArtists" class="infoblock">
    <h1>Artists</h1>
    <p class="warningLimitNb">You can only select 5 artists. Please deselect another artist.</p>
    <input id="search" type="search" placeholder=" Search..">
    <div id="searchList">
        <p>What are you looking for? </p>
        <div id="searchResults"></div>

    </div>
    <div id="artistList">
        <p class="noTopArtists">No artists found. </br>Please search some!</p>
    </div>
  </div>

  <div id="slidersContainer" class="sliders">
      <h1>Attributes</h1>
      <div id="sliders"></div>
  </div>

  <!-- The Modal -->
  <div id="attributesModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
          <span class="close">&times;</span>
          <p>More elaborate explanation</p>
      </div>

  </div>




</body>

</html>