<!DOCTYPE html>
<html>

<head>
    <!--<link href="../stylesheets/column3.css" rel="stylesheet">-->
</head>

<body>


<div id="playlistContainer" class="playlistContainer">
    <h1>Playlist</h1>
    <div id="playlist" class="playlist"></div>
    <svg id="barChart" width="600" height="400"></svg>
</div>
</body>

</html>