<!DOCTYPE html>
<html>

<head>
  <link href="../stylesheets/column3.css" rel="stylesheet">
    <link href="../stylesheets/recommendation.css" rel="stylesheet">
    <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/column3.js" charset="utf-8"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <h1>Recommendations</h1>
    <div id="recContainer" class="rec">
        <div id="recList" class="rec"></div>
    </div>
</body>

</html>