<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <h1>List of recommendations</h1>
    <div>

        <p id="task">
        </p>
    </div>
    <div id="recContainer" class="recContainer">
        <div id="recList" class="rec">
            <p id="warningNoRecommendations">We are not able to generate recommendations that match the artist with
                your preference. <br> Please change your preferences or select another artist.</p>

        </div>

    </div>

</body>

</html>