<!DOCTYPE html>
<html>

<head>
  <link href="../stylesheets/column3.css" rel="stylesheet">
  <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/column3.js" charset="utf-8"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div id="recContainer" class="rec">
    <h1>Recommended Songs</h1><button id="calculateButton" class="ripple">Calculate Recommendations</button><button id="saveButton" class="ripple">Save Recommendations</button>
    <p id="task"></p>
    <p id="likedislike">Click&nbsp<i class="fa fa-thumbs-up"></i>&nbspor&nbsp<i class="fa fa-thumbs-down"></i>&nbspto keep or dismiss a song.<br>More info: &nbsp<i id="question" class="fa fa-info-circle"></i></p>
    <div id="moreInfo">
      <ol>
        <li>Select up to 5 of your favorite artists</li>
        <li>Adjust music attributes</li>
        <li>Click on the "Calculate recommendations" button</li>
        <li>Listen to a song of the recommended list</li>
        <li>Click thumbs-up or -down to keep or dismiss a song</li>
        <li>Repeat steps 2 to 5 until you have made a list of 9 songs</li>
        <li>Click on the "Save Recommendations" button</li>
      </ol>
    </div>
    <p class="warningSelect">Please select at least one artist</p>
    <div id="recList" class="rec"></div>
    <p id="moresongs">To get more songs, modify the attribute(s) and click “Calculate Recommendations” again.</p>
  </div>
</body>

</html>