<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <h1>List of recommendations</h1>
    <div id="recContainer" class="rec">
        <div id="tabArtistRec" class="tabDiv">
            <button id="tab_All"   class="tablinks active">All</button>
        </div>
        <div id="recList" class="rec"></div>
    </div>

</body>

</html>