<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <h1>List of recommendations</h1>
    <div>

        <p id="task">
        </p>
    </div>
    <div id="recContainer" class="recContainer">
        <div id="recList" class="rec">

            <p id="warningNoRecommendations">Please select another artist or refine your preference to see more
                recommendations</p>
        </div>

    </div>

</body>

</html>