<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <h1>List of recommendations</h1>
    <div>
        <button id="button_Home" class="next">
            Continue
        </button>
        <p id="task">Please like 15 songs before you can continue</p>
    </div>
    <div id="recContainer" class="recContainer">
        <!--<div id="tabArtistRec" class="tabDiv">-->
            <!--<button id="tab_All"   class="tablinks" style="display: none">All artists</button>-->
        <!--</div>-->
        <div id="recList" class="rec"></div>
    </div>

</body>

</html>