
<div id="scatterplotContainer">



    <h1>Compare attributes</h1>
    <div id="scatterplot" class="scatterplot">
        <div id="y-axis">
            <select id="y" >
                <option id="y_acousticness" value="acousticness">Acousticness</option>
                <option id="y_danceability" value="danceability" selected>Danceability</option>
                <option id="y_energy" value="energy">Energy</option>
                <option id="y_instrumentalness" value="instrumentalness">Instrumentalness</option>
                <option id="y_tempo" value="tempo">Tempo</option>
                <option id="y_valence" value="valence">Valence</option>
            </select>
        </div>



        <div id="chart">

        </div>
        <div id="x-axis">
            <select id="x" >
                <option id="x_acousticness" value="acousticness" >Acousticness</option>
                <option id="x_danceability" value="danceability" disabled>Danceability</option>
                <option id="x_energy" value="energy" selected>Energy</option>
                <option id="x_instrumentalness" value="instrumentalness">Instrumentalness</option>
                <option id="x_tempo" value="tempo">Tempo</option>
                <option id="x_valence" value="valence">Valence</option>
            </select>
        </div>



    </div>




</div>



