
<div id="scatterplotContainer">
    <h1>Compare attributes</h1>
    <div id="scatterplot" class="scatterplot">
        <div id="y-axis">
            <!--<span id="spanY">y-axis: &nbsp</span>-->
            <select id="y" >
                <option value="acousticness" selected>Acousticness</option>
                <option value="danceability">Danceability</option>
                <option value="energy">Energy</option>
                <option value="instrumentalness">Instrumentalness</option>
                <option value="tempo">Tempo</option>
                <option value="valence">Valence</option>
            </select>
        </div>



        <div id="chart">
        </div>
        <div id="x-axis">
            <!--<span id="spanX">x-axis: &nbsp</span>-->
            <select id="x" >
                <option value="acousticness">Acousticness</option>
                <option value="danceability" selected>Danceability</option>
                <option value="energy">Energy</option>
                <option value="instrumentalness">Instrumentalness</option>
                <option value="tempo">Tempo</option>
                <option value="valence">Valence</option>
            </select>
        </div>



    </div>


</div>



