<!DOCTYPE html>
<html>

<head>
    <!--<link href="../stylesheets/column2.css" rel="stylesheet">-->
    <script type="text/javascript" src="../js/column2.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/scatterplot.css">
</head>

<body>
<h1>Recommended songs</h1>
<div id="scatterplot" class="scatterplot">
    <span>x-axis</span>
    <select id="x" >
        <option value="energy">Energy</option>
        <option value="danceability">Danceability</option>
        <option value="acousticness">Acousticness</option>
        <option value="tempo">Tempo</option>
        <option value="valence">Valence</option>
        <option value="acousticness">Acousticness</option>
    </select>
    <br>
    <span>y-axis</span>
    <select id="y" >
        <option value="danceability">Danceability</option>
        <option value="energy">Energy</option>
        <option value="acousticness">Acousticness</option>
        <option value="tempo">Tempo</option>
        <option value="valence">Valence</option>
        <option value="acousticness">Acousticness</option>
    </select>
    <div id="chart">
        <svg id="svgScatterplot">
            <svg id="svgData"></svg>
        </svg>
    </div>


</div>
</body>

</html>