<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <i style="color:red" class="far fa-thumbs-down"></i>
    <h2>Your disliked songs</h2>
    <div id="dislikedSongsList"></div>
</div>

<div id="sideBar" class="sideBar" onclick="openNav()">
    <i  class="far fa-thumbs-down"></i>
    <p class="sideBarTitle">Your Disliked songs</p>
</div>

