<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="implicitRow" class="navRow">
        <div id="clickedSongsContainer">
            <h2>Clicked</h2>
            <svg id="clickedSongs"></svg>
        </div>
        <div id="playedSongsContainer">
            <h2>Played</h2>
            <svg id="playedSongs"></svg>
        </div>
    </div>
    <div id="explicitRow" class="navRow">
        <div id="likedSongsContainer">
            <h2>Liked</h2>
            <svg id="likedSongs"></svg>
        </div>
        <div id="dislikedSongsContainer">
            <h2>disliked</h2>
            <svg id="dislikedSongs"></svg>
        </div>

    </div>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>