<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="implicitRow" class="navRow">
        <h2>Clicked</h2>
        <h2>Played</h2>
    </div>
    <div id="explicitRow" class="navRow">
        <div id="likedSongsContainer">
            <h2>Liked</h2>
            <svg id="likedSongs"></svg>
        </div>

        <h2>Disliked</h2>
    </div>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>