<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <i style="color:#90ff7c" class="far fa-thumbs-up"></i>
    <h2>Your liked songs</h2>
    <div id="likedSongsList"></div>
    <hr>
    <i style="color:red" class="far fa-thumbs-down"></i>
    <h2>Your disliked songs</h2>
    <div id="dislikedSongsList"></div>
</div>


<div id="sideBar" class="sideBar" onclick="openNav()">
    <i  class="far fa-thumbs-down"></i>
    <p class="sideBarTitle">Your rated songs</p>
</div>

