<!DOCTYPE html>
<html>

<head>
  <link href="../stylesheets/column2Sliders.css" rel="stylesheet">
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/radar-chart.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/column2Sliders.js" charset="utf-8"></script>
</head>

<body>
  <div id="modifySliders" class="modifySlider">
    <h1>Modify Attributes</h1>
    <div id="modVisSliders" class="modVisSliders">
      <div id="acousticness" class="slidecontainer">acousticness: 50</div><input type="range" min="0" max="100" value="{{50}}" id="acousticness_Slider" class="slider">
      <div id="instrumentalness" class="slidecontainer">instrumentalness: 50</div><input type="range" min="0" max="100" value="{{50}}" id="instrumentalness_Slider" class="slider">
      <div id="danceability" class="slidecontainer">danceability: 50</div><input type="range" min="0" max="100" value="{{50}}" id="danceability_Slider" class="slider">
      <div id="valence" class="slidecontainer">valence: 50</div><input type="range" min="0" max="100" value="{{50}}" id="valence_Slider" class="slider">
      <div id="energy" class="slidecontainer">energy: 50</div><input type="range" min="0" max="100" value="{{50}}" id="energy_Slider" class="slider">
      <p id="acousticness_tooltip" style="white-space:pre;" class="tooltipAxes">Acousticness: A confidence measure whether the track is acoustic. 100 represents high confidence the track is acoustic.</p>
      <p id="instrumentalness_tooltip" style="white-space:pre;" class="tooltipAxes">Instrumentalness: Predicts whether a track contains no vocals. Values above 50 are intended to represent instrumental tracks, but confidence is higher as the value approaches 100.</p>
      <p id="danceability_tooltip" style="white-space:pre;" class="tooltipAxes">Danceability: Danceability describes how suitable a track is for dancing. 100 represents high confidence the track is danceable.</p>
      <p id="valence_tooltip" style="white-space:pre;" class="tooltipAxes">Valence: A measure describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive, while tracks with low valence sound more negative.</p>
      <p id="energy_tooltip" style="white-space:pre;" class="tooltipAxes">Energy: Energy represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy.</p>
    </div>
  </div>
</body>

</html>