<!DOCTYPE html>
<html>

<head>
  <title>Spotify test</title>
  <link href="../../public/stylesheets/test.css" rel="stylesheet">
  <!--link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")-->
</head>

<body>
  <p>Welcome {{data.displayName}} &nbsp&nbsp&nbsp&nbsp<a href="/logout" role="button" class="btn btn-primary">Log Out</a></p>
  <p>Message {{message}} &nbsp&nbsp&nbsp&nbsp</p><button>Click Me!</button>
  <ul>
    {{#each artists as |artist|}}
      <li>{{artist.name}}</li>
    {{/each}}
  </ul>
  <res test {data: req.user message: lll artists: list} class="render"></res>
</body>

</html>