<!DOCTYPE html>
<html>

<head>
  <title>Demographic questionnaire</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="../stylesheets/base.css" rel="stylesheet">
  <link href="../stylesheets/demographic.css" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/jquery.cookie.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/demographic.js" charset="utf-8"></script>
</head>

<body>
  <h1 class="header">Demographic Questionnaire</h1>
  <p id="welcomeDemographic" class="welcome"></p><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf-CKS5sSKdVn6mT9C7BLtgdKaWU3KQNPDiOAgwmn4cgY8rrg/viewform?embedded=true&hl=en" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" id="demoiframe">Loading...</iframe><br>
  <p><input id="submitted" type="checkbox" class="checkbox">I have submitted the form.</p><button id="demographic" class="ripple button">Continue</button><br><br></body>

</html>