<html>

<head>
  <title>Final questionnaire</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="../stylesheets/base.css" rel="stylesheet">
  <link href="../stylesheets/final.css" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/jquery.cookie.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/final.js" charset="utf-8"></script>
</head>

<body>
  <h1 class="header">Post-Task Questionnaire</h1>
  <p id="welcomeFinal1" class="welcome"></p><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd-ZNRsubBe6Z5BQt3PcmF5N1BybrMW7Kg1cMmx2cfdzFpiLA/viewform?embedded=true&hl=en" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" id="postTask2iframe">Loading...</iframe><br>
  <p><input id="postTaskCheck2" type="checkbox" class="checkbox">I have submitted the form.</p>
  <div id="finalDiv">
    <h1>Final Questions</h1>
    <p id="welcomeFinal2" class="welcome"></p><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSemTVBkEbn_kVpS3oMMI6J48B9jMxt-uVE6AuIhao3R0w6P7Q/viewform?embedded=true&hl=en" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" id="finaliframe">Loading...</iframe><br>
    <p><input id="finalCheck" type="checkbox" class="checkbox">I have submitted the form.</p><button id="final" class="ripple button">Continue</button><br><br></div>
</body>

</html>