<!DOCTYPE html>
<html>
<head>
    <title>Radar Chart</title>
    <link href="../stylesheets/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/jquery-ui.css">


    <script type="text/javascript" src="bower_components/handlebars/handlebars.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/jquery.nice-select.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/jquery-ui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">


</head>
<body>

{{{body}}}

</body>
</html>