<!DOCTYPE html>
<html>
<head>
    <title>Augment</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" >
    <link rel="stylesheet" href="../stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <script type="text/javascript" src="bower_components/handlebars/handlebars.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/jquery.nice-select.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/jquery-ui.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>


    <!--Own scripts-->
    <!--experiment-->
    <script type="text/javascript" src="../js/welcome.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/questionnaires.js" charset="utf-8"></script>

    <!--interface-->
    <script type="text/javascript" src="../js/global.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/templates.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/scatterplot.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/column1.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/sliders.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/barchart.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/playlist.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/sideNav.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/recommendationList.js" charset="utf-8"></script>



    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/attributes.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/attributeSong.css">
    <link rel="stylesheet" type="text/css"href="../stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/column1.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/artist.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/slider.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/sideNav.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/recommendationList.css" >
    <link rel="stylesheet" type="text/css" href="../stylesheets/recommendation.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/scatterplot.css">



</head>
<body>

{{{body}}}

</body>
</html>