<h1>Acousticness</h1>
<span class="definition">
    Acoustic music is music that solely or primarily uses instruments that produce sound through acoustic means,
    as opposed to electric or electronic means. 100 represents acoustic music, 0 represents electronic music.
</span>
<div id="songDiv" class="exampleSongs">
    <div id="low_acousticness_container">
        <span>Low</span>
        <div id="low_acousticness"></div>
    </div>

    <div id="medium_acousticness_container">
        <span>Medium</span>
        <div id="medium_acousticness"></div>
    </div>

    <div id="high_acousticness_container">
        <span>High</span>
        <div id="high_acousticness"></div>
    </div>
</div>
