<head>
    <script type="text/javascript" src="../js/attributes.js" charset="utf-8"></script>
</head>

<div id="totalExampleContainer"></div>
<button id="button_attributes"   class="next">Continue</button>
