<head>
    <script type="text/javascript" src="../js/attributes.js" charset="utf-8"></script>
</head>

<style>
    .attributes{
        color: #dddddd;
    }
    body{
        background-color: #2a2a2a;
        background-image: none;
    }
    .highlight{
        color: #4caf50;
    }
</style>
<h2 class="attributes">
    This page introduces all the attributes you can use to refine your recommendations.
    <br>
    Please read the definitions   carefully and listen to the examples to get a better
    understanding of the attributes.
    <br>
    <span class="highlight"> Select between three and six attributes </span>  that you think are the most useful for
    making a playlist.
</h2>
<div id="totalExampleContainer" class="wrapper">


</div>





<button id="button_attributes"   class="next">Continue</button>
