<!DOCTYPE html>
<html>

<head>
    <title>Calibration</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/stylesheets/calibration.css" rel="stylesheet">
    <script type="text/javascript" src="../js/calibration.js" charset="utf-8"></script>


</head>
<style>

    body{
        background-color: #2a2a2a;
        background-image: none;
    }


</style>

<body>
<div class="calibration">
    <div class="calibrationText">
        <p>Please ask help to calibrate the eye tracker.</p>
    </div>
</div>

<button id="button_calibrate"   class="next">Continue</button>
</body>

</html>