<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/public/stylesheets/welcome.css" rel="stylesheet">
    <script type="text/javascript" src="../js/choose.js" charset="utf-8"></script>
</head>
<body>
    <button id="button_expl"   class="welcome">Explanation</button>
    <button id="button_base"   class="welcome">Base</button>
</body>