doctype html
html
    head
        link(href='../stylesheets/column2.css', rel='stylesheet')
        script(src="http://d3js.org/d3.v3.min.js")
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/radar-chart.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/column2.js", charset = 'utf-8')

    body
        div(class="modify", id="modify")
            h1 Modify Parameters
            div(class="modVis", id="modVis")