doctype html
html
    head
        //link(href='../stylesheets/column3.css', rel='stylesheet')
    body
        div(class="rec", id="rec")
            h1 recommendations

            #recList
                table
                    thead
                        th ArtistName
                        th whatever
                        th Delete?
                    tbody