doctype html
html
    head
        link(href='../stylesheets/column3.css', rel='stylesheet')
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/column3.js", charset = 'utf-8')

    body
        div(class="rec", id="recContainer")
            h1 recommendations
            div(class="rec", id= "recList")
