doctype html
html
    head
        link(href='../stylesheets/column1.css', rel='stylesheet')
        script(src="//d3js.org/d3.v3.min.js")

    body
        div(class="infoblock", id="infoArtists")
            h1 Artists



