<head>
    <script type="text/javascript" src="../js/demo.js" charset="utf-8"></script>
</head>
<h1 class="header">Evaluation</h1>
<iframe src='https://docs.google
.com/presentation/d/e/2PACX-1vQAkgZ9xl_pf7dIhyqhb05Ox1G90IkbWrWz8sKI1KUyOEX51xHYRzxLMFWNZvxPniEnWk-oaO6-KmeL/embed?start=false&loop=false&delayms=60000'
        frameborder='0' width='80%' height="80%" allowfullscreen="true" mozallowfullscreen="true"
        webkitallowfullscreen="true"></iframe>
<button id="button_demo"   class="next">Continue</button>