<head>
    <script type="text/javascript" src="../js/demo.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/demo.css">

</head>

<div class="slideshow-container">
    <a class="prevSlide" onclick="plusSlides(-1)">&#10094;</a>

    <div class="mySlides">
        <div class="numbertextSlide">1 / 12</div>
        <img src="../img/demo/Slide01.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">2 / 12</div>
        <img src="../img/demo/Slide02.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">3 / 12</div>
        <img src="../img/demo/Slide03.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">4 / 12</div>
        <img src="../img/demo/Slide04.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">5 / 12</div>
        <img src="../img/demo/Slide05.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">6 / 12</div>
        <img src="../img/demo/Slide06.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">7 / 12</div>
        <img src="../img/demo/Slide07.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">8 / 12</div>
        <img src="../img/demo/Slide08.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">9 / 12</div>
        <img src="../img/demo/Slide09.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">10 / 12</div>
        <img src="../img/demo/Slide10.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">11 / 12</div>
        <img src="../img/demo/Slide11.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">12 / 12</div>
        <img src="../img/demo/Slide12.png">
    </div>





    <a class="nextSlide" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<!--<div style="text-align:center">-->
    <!--<span class="dot" onclick="currentSlide(1)"></span>-->
    <!--<span class="dot" onclick="currentSlide(2)"></span>-->
    <!--<span class="dot" onclick="currentSlide(3)"></span>-->
    <!--<span class="dot" onclick="currentSlide(4)"></span>-->
    <!--<span class="dot" onclick="currentSlide(5)"></span>-->
    <!--<span class="dot" onclick="currentSlide(6)"></span>-->
    <!--<span class="dot" onclick="currentSlide(7)"></span>-->
    <!--<span class="dot" onclick="currentSlide(8)"></span>-->
    <!--<span class="dot" onclick="currentSlide(9)"></span>-->
    <!--<span class="dot" onclick="currentSlide(10)"></span>-->
    <!--<span class="dot" onclick="currentSlide(11)"></span>-->
    <!--<span class="dot" onclick="currentSlide(12)"></span>-->
    <!--<span class="dot" onclick="currentSlide(13)"></span>-->
    <!--<span class="dot" onclick="currentSlide(12)"></span>-->
<!--</div>-->

<button id="button_demo"   class="next">Continue</button>
