doctype html
html
    head
        title Demographic questionnaire
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(href='../stylesheets/base.css', rel='stylesheet')
        //link(href='../stylesheets/overview.css', rel='stylesheet')
        script(type = "text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type = "text/javascript", src = "../js/jquery.cookie.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/demographic.js", charset = 'utf-8')
    body
        h1.header Demographic Questionnaire
        p(id='welcomeDemographic')
        iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSf-CKS5sSKdVn6mT9C7BLtgdKaWU3KQNPDiOAgwmn4cgY8rrg/viewform?embedded=true', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0') Loading...
        br
        button(class="ripple button" id="demographic") Finished
        br
        br