<head>
    <script type="text/javascript" src="../js/demo.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/demo.css">

</head>

<div class="slideshow-container">
    <a class="prevSlide" onclick="plusSlides(-1)">&#10094;</a>

    <div class="mySlides">
        <div class="numbertextSlide">1 / 4</div>
        <img id="slide1" src="../img/demo/Slide1.png">
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">2 / 4</div>
        <video id="demoExpl" controls>
            <source id="demoVideo" type="video/mp4">
        </video>
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">3 / 4</div>
        <img id="slide3" >
    </div>
    <div class="mySlides">
        <div class="numbertextSlide">4 / 4</div>
        <img id="slide1" src="../img/demo/Slide4.svg">
    </div>

    <a class="nextSlide" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>


<button id="button_demo"   class="next">Continue</button>
