doctype html
html
    head
        title Spotify error
        link(href='../public/stylesheets/error.css', rel='stylesheet')
    body
        p.
            Welcome
            We are sorry, but something is wrong, so you cannot login to spotify
            please retry after a few minutes
