doctype html
html
    head
        title Error
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" )
        link(href='../public/stylesheets/base.css', rel='stylesheet')
        link(href='../public/stylesheets/error.css', rel='stylesheet')
    body
        p
            i(class="fa fa-exclamation-circle")
        p
            |Something went wrong!
            br
            |Please go back to the home page and refresh.
