<head>
    <script type="text/javascript" src="../js/evaluation.js" charset="utf-8"></script>

</head>

<style>
    #button_evaluation{
        display: none;
    }
</style>

<h1 class="header">Final evaluation</h1>

<iframe width="80%" height="80%"
        frameborder="0" marginheight="0" marginwidth="0"
        id="iframeEvaluation"
        onLoad="load()">Loading...</iframe><br/>
<button id="button_evaluation"   class="next">Continue</button>