<head>
    <script type="text/javascript" src="../js/export.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/export.css">
</head>

<style>
    h2{
        font-size: 25px;
        color: #e4e4e4;
    }
</style>

<div>
    <h1>My playlist</h1>
    <h2>If you want to save this playlist, please fill in a name and click "Export".
    <br>
        Otherwise click "Continue"
    </h2>
    <div id="playlist">


    </div>
    <div id="playlistInput">
        <input id="playlistName" type="playlist" placeholder=" The name of the playlist">
        <div class="exportButtons">
            <button id="export_playlist">Export</button>
            <button id="button_export" class="next">Continue</button>
        </div>


    </div>

</div>