html
    head
        title Final questionnaire
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(href='../stylesheets/base.css', rel='stylesheet')
        //link(href='../stylesheets/overview.css', rel='stylesheet')
        script(type = "text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type = "text/javascript", src = "../js/jquery.cookie.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/final.js", charset = 'utf-8')
    body
        h1.header Post-Task Questionnaire
        p(id='welcomeFinal1')
        iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSd-ZNRsubBe6Z5BQt3PcmF5N1BybrMW7Kg1cMmx2cfdzFpiLA/viewform?embedded=true', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0') Loading...
        br
        h1 Final Questionnaire
        p(id='welcomeFinal2')
        iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSemTVBkEbn_kVpS3oMMI6J48B9jMxt-uVE6AuIhao3R0w6P7Q/viewform?embedded=true', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0') Loading...
        br
        button(class="ripple button" id="final") finished
        br
        br