html
    head
        title Final questionnaire
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(href='../stylesheets/base.css', rel='stylesheet')
        link(href='../stylesheets/final.css', rel='stylesheet')
        script(type = "text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type = "text/javascript", src = "../js/jquery.cookie.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/final.js", charset = 'utf-8')
    body
        h1.header Post-Task Questionnaire
        p(id='welcomeFinal1')
        iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSd-ZNRsubBe6Z5BQt3PcmF5N1BybrMW7Kg1cMmx2cfdzFpiLA' +
        '/viewform?embedded=true&hl=en', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0'
        id='postTask2iframe') Loading...
        br
        p
            input(id="postTaskCheck2" class='checkbox'  type="checkbox")
            | I have submitted the form.
        div(id='finalDiv')
            h1 Final Questions
            p(class='welcome' id='welcomeFinal2')
            iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSemTVBkEbn_kVpS3oMMI6J48B9jMxt-uVE6AuIhao3R0w6P7Q' +
            '/viewform?embedded=true&hl=en', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0'
            id='finaliframe') Loading...
            br
            p
                input(id="finalCheck" class='checkbox'  type="checkbox")
                | I have submitted the form.
            button(class="ripple button" id="final") Continue
            br
            br