<head>
    <script type="text/javascript" src="../js/finish.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/finish.css">
</head>


<div>
    <h1>My playlist</h1>
    <div id="playlist">


    </div>
    <div id="playlistInput">
        <input id="playlistName" type="playlist" placeholder=" The name of the playlist">
        <button id="export_playlist">Export</button>
    </div>
    <button id="button_export" class="next">Continue</button>

</div>