<head>
    <script type="text/javascript" src="../js/finish.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/finish.css">

</head>


<div>
    <h1>My playlist</h1>
    <div id="playlist"></div>
    <button id="export_playlist">Export</button>
</div>