<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<h1>Example App: Home</h1>

<input id="search" type="search" placeholder="Search..">


{{> page/nav}}

<script type="text/javascript" src="../js/search.js" charset="utf-8"></script>
