<!--The content for the app's home view which will be rendered into the layout's main.handlebars {{{body}}}.-->
<div class="container">
    <div id="column1" class="column">
        {{> column1}}
    </div>
    <!--<div id="column2" class="column">-->
        <!--{{#if radar}}-->
            <!--{{> radarchart}}-->
        <!--{{else}}-->
            <!--{{>sliders}}-->
        <!--{{/if}}-->
    <!--</div>-->
    <!--<div id="column3" class="column">-->
        <!--{{> recommendations}}-->
    <!--</div>-->
</div>
