doctype html
html
    head
        title HCI
        link(href='../public/stylesheets/test.css', rel='stylesheet')
    body
        #column1
            .column
                h1 column one
        #column2
            .column
                h1 column two
        #column3
            .column
                h1 column three
