<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/public/stylesheets/welcome.css" rel="stylesheet">
    <script type="text/javascript" src="../js/login.js" charset="utf-8"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<style>
    body{
        background-color: #2a2a2a;
        background-image: none;
    }

</style>
<body>
<p></p>

<div class="header">
    <img class="kuleuven" src="https://www.kuleuven.be/internationaal/thinktank/TT/fotos-en-logos/ku-leuven-logo.png">
</div>
<h1>Login</h1>
<p>
    Thank you very much for participating in this experiment.
    <br>
    Do you want to proceed with your own Spotify account?
</p>

<button id="button_login"   class="welcome">yes</button>
<button id="button_noLogin"   class="welcome">no</button>

<div id="credentials" title="Credentials">
    <p>
        Please write down following credentials. <br>
        email: <b> augment@cs.kuleuven.be </b> <br>
        password: <b>augmentHCI</b>
    </p>
</div>
</body>
</html>