doctype html
html
    head
        title Overview experiment
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(href='../stylesheets/base.css', rel='stylesheet')
        link(href='../stylesheets/overview.css', rel='stylesheet')
        script(type = "text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type = "text/javascript", src = "../js/jquery.cookie.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/overview.js", charset = 'utf-8')
    body
        h1.header Overview of the experiment
        h1(id='welcome')
        p(id='caution').
            Please note that you need to be a frequent user of Spotify,
            otherwise the system cannot generate recommendations for you.
        h2 Introduction
        p(style='white-space:pre;').
            In this experiment, we use the Spotify API to design this music recommender system.
            In the system, you can firs select up to five of your favorite artists.
            The system also allows you to modify 5 different parameters,
            and based on your selected artists and the parameters, it provides you with suggestions of songs.
            In this study, we aim to get your perceived quality of different visualisations,
            and measure your cognitive load while interacting with our system.
            This page gives an overview of what you can expect of this experiment.


        h2 Steps
        p This experiment concludes six different steps:
            ul
                li Demographic questionnaire
                li First interface with a task
                li Post-task questionnaire
                li Second interface with a task
                li Post-task questionnaire
                li Post evaluation questions

        h2 Your task
        p
            ol
                li Read carefully what you need to do
                li Select some of your favorite artists
                li Adjust parameters
                li Click on the button to calculate recommendations
                li Listen to a song
                li Like or dislike a song
                li Repeat step 2 to 5 until you like 9 songs
                li Click on the button to save recommendations
                li Fill in the questionnaire

        button(class="ripple button" id="overview") Start experiment