doctype html
html
    head
        title HCI-Questionnaires
        link(href='../stylesheets/layout.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        script(type = "text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type = "text/javascript", src = "../js/jquery.cookie.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/Questionnaire.js", charset = 'utf-8')


    body
        .container
            p(class="Question", id="Q1") 1. First question
            p(class="Question", id="Q2") 1. First question
            p(class="Question", id="Q3") 1. First question
            p(class="Question", id="Q4") 1. First question
            p(class="Question", id="Q5") 1. First question
            button(class="ripple" id="nextInterface") I am finished




