doctype html
html
    head
        title Post-task questionnaire
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(href='../stylesheets/base.css', rel='stylesheet')
        //link(href='../stylesheets/overview.css', rel='stylesheet')
        script(type = "text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type = "text/javascript", src = "../js/jquery.cookie.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/questionnaire.js", charset = 'utf-8')
    body
        h1.header Post-task Questionnaire
        p(id='welcomePostTask')
        iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSd-ZNRsubBe6Z5BQt3PcmF5N1BybrMW7Kg1cMmx2cfdzFpiLA/viewform?embedded=true', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0') Loading...
        br
        button(class="ripple button" id="postTask") Finished
        br
        br




