<head>
    <script type="text/javascript" src="../js/sliderPage.js" charset="utf-8"></script>
</head>

<style>
    .attributes{
        color: #4caf50;
    }
    body{
        background-color: #2a2a2a;
        background-image: none;
    }

</style>
<h2 class="attributes">
    This page introduces the attributes you selected to refine your recommendations.
    <br>
    Please read the definitions carefully and listen to the examples to get a better understanding of the attributes.
    <br>
    Select up to six attributes you think are the most useful for making a playlist.
</h2>
<div id="totalSliderPageContainer" class="sliderPageContainer">


</div>





<button id="button_sliderPage"   class="next">Continue</button>