<head>
    <script type="text/javascript" src="../js/sliderPage.js" charset="utf-8"></script>
</head>

<style>
    .attributes{
        color: #dddddd;
    }
    body{
        background-color: #2a2a2a;
        background-image: none;
    }
    .highlight{
        color: #4caf50;
    }

    .definition{
        height: auto;
        margin-bottom: 20px;
    }

</style>
<h2 class="attributes">
    This page introduces the attributes you selected to refine your recommendations.
    <br>
    Please <span class="highlight" >modify the sliders </span>  a first time to your preference.
    <br>
    Based on these values, the system will generate some recommended songs, but you will be able to <span
        class="highlight"> change this afterwards</span>.

</h2>
<div id="totalSliderPageContainer" class="sliderPageContainer">


</div>





<button id="button_sliderPage"   class="next">Continue</button>