<head>
    <script type="text/javascript" src="../js/task.js" charset="utf-8"></script>
    <!--<link rel="stylesheet" type="text/css" href="../stylesheets/task.css">-->

</head>

<style>
    .task-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
    }
    .task{
        width: 80%;
    }
    .task p{
        color: white;
        font-size: 20px;
        line-height: 50px;
    }
    .highlight{
        color: #4caf50
    }
</style>


<div class="task-container">

    <div class="task">
        <p>
            In the next pages, you will be asked
            <span class="highlight">3 times</span>   to test a different version of the system.<br>
            In each system, you will
            <span class="highlight">first </span>    have as much
            time as you want to
            <span class="highlight">explore</span> the system and you can ask questions if you want.<br>
            <span class="highlight">Second</span>, you will have as much time as you want to
            <span class="highlight">create the playlist</span>
            .<br>
            Once you finished the playlist, you will be asked to fill in some questions to evaluate the system in
            which you created the playlist.
        </p>
    </div>


</div>
<br>


<button id="button_task"   class="next">Continue</button>
