html
    head
        title Thanks
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(href='../stylesheets/base.css', rel='stylesheet')
        //link(href='../stylesheets/overview.css', rel='stylesheet')
        script(type = "text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type = "text/javascript", src = "../js/jquery.cookie.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/final.js", charset = 'utf-8')
    body
        h1.header Thanks
        p.
            ir. Martijn Millecamp (martijn.millecamp@kuleuven.be) and
            Dr. Nyi Nyi Htun (nyinyi.htun@kuleuven.be)
            are thanking you for your participation.