<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/public/stylesheets/welcome.css" rel="stylesheet">
    <script type="text/javascript" src="../js/welcome.js" charset="utf-8"></script>
</head>
<style>
    body{
        background-color: #2a2a2a;
        background-image: none;
    }

</style>
<body>
<p></p>

<div class="header">
    <img class="kuleuven" src="https://www.kuleuven.be/internationaal/thinktank/TT/fotos-en-logos/ku-leuven-logo.png">
</div>
<h1>Welcome</h1>
<p>
    You are being invited to participate in a research study titled
    <br>
    <span class="highlight"> "Explaining a music recommender system" </span>
    done by Martijn Millecamp from KU Leuven.
    <br>
    <br>
    If you agree to take part in this study, you will be asked to create some playlists in different music platforms.
    Before the study, there will be a questionnaire about some demographics, it will take you approximately
    <span class="highlight">30 - 40 minutes</span> to complete.
    <br>
    We believe there are
    <span class="highlight">no known risks</span> associated with this research study.
    Your participation in this study is completely voluntary and you can withdraw at any time.
    <br>
    The data collected through this study will be processed and stored anonymously and will
    <span class="highlight"> only be used for academic research purposes</span> .
    <br>
    If you have questions about this project or if you have a research-related problem, you may
    contact martijn.millecamp@kuleuven.be.
    <br>
    <br>
    During this study, we will record all your interactions with the system we will ask you to explore.
    In addition, we will also record your gaze pattern by means of a Tobii 4C eye tracker.
    By clicking
    <span class="highlight"> "I confirm"</span>
      you are indicating that you are at least 18 years old, have
    <span class="highlight">read and understood this consent form and agree to participate</span>
     in this research study.
    Please print a copy of this page for your records.
    <br>
</p>








<button id="button_welcome"   class="welcome">I confirm</button>
<button id="button_disagree"   class="welcome">I don't confirm</button>



</body>





