doctype html
html
    head
        title HCI-Questionnaires
        link(href='../stylesheets/layout.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        script(type = "text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type = "text/javascript", src = "../js/jquery.cookie.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/global.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/welcome.js", charset = 'utf-8')


    body
        .container
            p(class="Welcome Message", id="welcome")
                hello
            button(class="ripple" id="firstInterface") I am ready to start