<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/public/stylesheets/welcome.css" rel="stylesheet">
    <script type="text/javascript" src="../js/welcome.js" charset="utf-8"></script>
</head>
<body>
<p></p>

<div class="header">
    <img class="kuleuven" src="https://www.kuleuven.be/internationaal/thinktank/TT/fotos-en-logos/ku-leuven-logo.png">
</div>
<h1>Welcome</h1>
<p>
    You are being invited to use this music recommender system built upon Spotify.
    If you want to use the system, you need to be able
    <span class="highlight">
        to login to your Spotify account.
    </span>
    <br>
    Being able to login is the only requirement regarding your Spotify account, you don't need to use your account
    regularly.
    <br>
    The system is only tested on
    <span class="highlight">
            Google Chrome
        </span>
    , so please check if you used Google Chrome
    <span>
            <img class="logo"   src="../public/img/google-chrome.png">
        </span>
    to open this page. <a href="https://www.google.com/intl/nl_ALL/chrome/"> Download Google Chrome</a>
</p>

<button id="button_continue"   class="welcome">Continue</button>
</body>





