<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/public/stylesheets/welcome.css" rel="stylesheet">
    <script type="text/javascript" src="../js/welcome.js" charset="utf-8"></script>
</head>
<body>
<p></p>

<div class="header">
    <img class="kuleuven" src="https://www.kuleuven.be/internationaal/thinktank/TT/fotos-en-logos/ku-leuven-logo.png">
</div>
<h1>Welcome</h1>
<p>
    You are being invited to take part in a research study. Before you decide
    whether to participate, it is important for you to understand why the
    research is being done and what it will involve. Please take time to read
    the following information carefully.
</p>
<h2>About the study</h2>
<p><em></em>
    This experiment will take
    <span class="highlight">
        30 to 40 minutes.
    </span>.
    <br>
    If you want to participate, you need to be able
    <span class="highlight">
        to login to your Spotify account.
    </span>
    <br>
    Being able to login is the only requirement regarding your Spotify account, you don't need to use your account
    regularly.
    <br>
    The system is only tested on
        <span class="highlight">
            Google Chrome
        </span>
    , so please check if you used Google Chrome
        <span>
            <img class="logo"   src="../public/img/google-chrome.png">
        </span>
    to open this page. <a href="https://www.google.com/intl/nl_ALL/chrome/"> Download Google Chrome</a>

    <!--, it includes the following procedures:-->
    <!--If you agree to participate, you will be asked to login to the experiment with your Spotify account.-->
    <!--After you have logged in, you will be asked to complete some questionnaires.-->
    <!--You will then be presented with a recommender interface. In this interface, you can search and select-->
    <!--artists. The system will then recommend songs that are related/similar to this artist.-->
    <!--You can steer these recommendations by changing different music attributes.-->
    <!--These attributes will be explained before the experiment starts.-->
    <!--During the experiment, we ask you to look for 15 songs you like.-->
    <!--Next, you will have the opportunity to save this songs into a playlist and-->
    <!--you will be asked to evaluate the system.-->
<p>

<h2>Informed Consent</h2>
    <ul>
        <li>I confirm that I understand what is expected of me during this research.</li>
        <li>I confirm that I understand that my participation in this study is voluntary. I have the
            right to stop my participation at any time. I do not have to give a
            reason for that and I know that no disadvantage can arise for me.</li>
        <li>I confirm that I understand that the results of this research can be used for scientific
            purposes and may be published. My name is not published, anonymity and
            the confidentiality of the data is guaranteed at every stage of the
            research.</li>
        <li>I confirm that I know that after my participation I can contact the
            researchers: ir. Martijn Millecamp (martijn.millecamp@kuleuven.be) and
            Dr. Nyi Nyi Htun (nyinyi.htun@kuleuven.be) for any question</li>
        <li>I confirm that I know that I can contact the Social-Ethical Committee of KU Leuven: smec@kuleuven.be. for
            any complaints or other concerns regarding ethical aspects of this
            study</li>
    </ul>
<button id="button_welcome"   class="welcome">I confirm</button>
<button id="button_disagree"   class="welcome">I don't confirm</button>



</body>





