<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/public/stylesheets/welcome.css" rel="stylesheet">
    <script type="text/javascript" src="../js/welcome.js" charset="utf-8"></script>
</head>
<body>
<p></p>

<div class="header">
    <img class="kuleuven" src="https://www.kuleuven.be/internationaal/thinktank/TT/fotos-en-logos/ku-leuven-logo.png">
</div>
<h1>Welcome</h1>
<p>
    You are being invited to use this music recommender system built upon Spotify.
    If you want to use the system, you need to be able
    <span class="highlight">
        to login to your Spotify account.
    </span>
    <br>
    Being able to login is the only requirement regarding your Spotify account, you don't need to use your account
    regularly.
    <br>
    The system is only tested on
    <span class="highlight">
            Google Chrome
        </span>
    , so please check if you used Google Chrome
    <span>
            <img class="logo"   src="../public/img/google-chrome.png">
        </span>
    to open this page. <a href="https://www.google.com/intl/nl_ALL/chrome/"> Download Google Chrome</a>
</p>

<h2>Informed Consent</h2>
    <ul>
        <li>I confirm that I understand that my participation in this study is voluntary. I have the
            right to stop my participation at any time. I do not have to give a
            reason for that and I know that no disadvantage can arise for me.</li>
        <li>I confirm that I understand that the results of this research can be used for scientific
            purposes and may be published. My name is not published, anonymity and
            the confidentiality of the data is guaranteed at every stage of the
            research.</li>
        <li>I confirm that I know that after my participation I can contact the
            researchers: ir. Martijn Millecamp (martijn.millecamp@kuleuven.be) and
            Dr. Nyi Nyi Htun (nyinyi.htun@kuleuven.be) for any question</li>
        <li>I confirm that I know that I can contact the Social-Ethical Committee of KU Leuven: smec@kuleuven.be. for
            any complaints or other concerns regarding ethical aspects of this
            study</li>
    </ul>
<button id="button_welcome"   class="welcome">I confirm</button>
<button id="button_disagree"   class="welcome">I don't confirm</button>



</body>





