.artistDiv{
    width: 200px;
    min-height: 40px;

    stroke-width: 1px;
    margin: 8px;
    opacity: 0.7;

    border-style: solid;
    border-radius: 25px;
    border-color: rgb(179, 178, 177);
    border-width: 2px;

    font-family: Montserrat, sans-serif;
    font-size: 18px;

    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

    user-select: none;
    cursor: pointer;

    color: #3af55c;
    background: rgba(53, 53, 53, 1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.artistDiv:hover{
    opacity: 1;
}

.artistDiv.selected{
    color: rgba(24,24,24,1);
    background-color: #76ed8f;
    opacity: 1;

}

.artistName{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;

    text-align: left;
    vertical-align: middle;
    line-height: 30px;

    margin-left: 20px;
}


.fa-times-circle{
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    /*color: #29a747;*/
    margin-right: 10px;
}

.fa-thumbtack{
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    /*color: #29a747;*/
    margin-left: 10px;
    visibility: hidden;
}

.artistShape{
    display: none;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: none;
    font-size: 20px;

}

.artistDiv.disabled{
    cursor: not-allowed;
    opacity: 0.3;
}