.artistDiv{
    width: 400px;
    min-height: 40px;

    stroke-width: 1px;
    margin: 8px;
    opacity: 0.7;

    border-style: solid;
    border-radius: 25px;
    border-color: rgb(179, 178, 177);
    border-width: 2px;

    font-family: Montserrat, sans-serif;
    font-size: 18px;

    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

    user-select: none;
    cursor: pointer;

    color: #3af55c;
    background: rgba(53, 53, 53, 1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.artistDiv:hover{
    opacity: 1;
}

.artistDiv.selected{
    color: rgba(24,24,24,1);
    background-color: #76ed8f;
    opacity: 1;

}

.artistAdditional{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.artistAdditionalHeader{
    display: flex;
    flex-direction: row;
    background-color: rgba(46, 41, 41, 0.78);
    width: 250px;
    justify-content: flex-end;
    align-items: center;
    height: 30px;

}

.artistName{
    color: #ffffff;

    font-size: 20px;
    font-weight: 400;
    min-width: 220px;
}

.artistAttributes{
    height: 120px;
    width: 250px;
}

.fa-times-circle{
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    /*color: #29a747;*/
    margin-right: 10px;
}

.fa-thumbtack{
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    /*color: #29a747;*/
    margin-left: 10px;
    visibility: hidden;
}

.artistShape{
    display: none;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: none;
    font-size: 20px;

}

.artistDiv.disabled{
    cursor: not-allowed;
    opacity: 0.3;
}

/*Search box*/
input[type=search]{
    width: 200px;
    min-height: 40px;

    stroke-width: 1px;
    margin: 8px;
    opacity: 0.7;

    border-style: solid;
    border-radius: 25px;
    border-color: rgb(179, 178, 177);
    border-width: 2px;

    font-family: Montserrat, sans-serif;
    font-size: 17px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

    user-select: none;
    cursor: pointer;

    color: #3af55c;
    background: rgba(53, 53, 53, 1);

    padding-left: 10px;
}

#searchList{
    padding: 10px;
    display: none;
    border: solid;
    border-width: 2px;
    border-color: rgb(179, 178, 177);
    border-radius: 25px;
}

#searchResults{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    overflow-y: scroll;
    width: 230px;
}

/*Make artistlist a flexbox*/
#artistList{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.result{
    position: relative;
    text-align: center;
}

.artistNameSearch{
    position: absolute;
    height: 30px;
    width: 150px;
    background-color: rgba(46, 41, 41, 0.78);
    color: #A9CFB4;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    top: 120px;
    left: 40px;
    overflow-x: scroll;
}