.definition{
    font-size: 18px;
    text-align: left;
    display: block;
    color: grey;
    height: 120px;
}

.definition.active{
    color: white;
}

.exampleSongs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exampleSongs.selected{
    display: flex;
}

.attributeName, .definition{
    text-align: center;
}

.exampleSongs{
    display: none;
}

.showExamplesButton {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.selectAttributeButton {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.selectAttributeButton.active{
    background-color:  #1e82cb;
}

.selectAttributeButton.selectedAttr{
    background-color: #0d5386;;
}

.selectAttributeButton.selectedAttr.active{
    background-color: #1e82cb;
}

.showExamplesButton.active{
    background-color:  #1e82cb;
}

.wrapper{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 24% 24% 24% 24%;
    grid-column-gap: 1%;
    grid-row-gap: 2%;
    margin-left: 1%;

}

.attributeContainer{
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: center;
}

.selectedContainer{
    border-style: solid;
    border-width: thin;
    border-color: whitesmoke;
    border-radius: 20px;
    background: #7adb90;
}

.selectedContainer h1{
    color: black;
}


