.tabDiv{
    display: flex;
}

.tablinks{
    height: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px;
    background-color: black;
    color: white;
}

.tablinks.active{
    background-color: white;
    color: black;
}








