. infoblock{
    display: flex;
}

.artist {
    width: 100%;
    height: 50px;
}

rect{
    width: 100%;
    height: 100%;
    fill: #76ed8f;
    stroke-width: 1px;
    stroke: #000000;
    margin: 8px;
    opacity: 0.5;
}

.artistname{
    font-family: Montserrat, sans-serif;
    color: whitesmoke;
    text-anchor: start;
    alignment-baseline: middle;
}

.artistImage{
    width: 20%;
    height: 50%;
}

