.tabDiv{
    display: flex;
    flex-wrap: wrap;
}

.tablinks{
    height: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px;
    background-color: black;
    color: white;
}

.tablinks.active{
    background-color: white;
    color: black;
}

#recList{
    width: 620px;
    height: 100%;
    overflow-y: auto;
}







