body{
    background-attachment: fixed;
    background-color: #121212;
    margin:20px;
    font-family: Montserrat, sans-serif;
    color: whitesmoke;

    text-align: center;
}

.button{
    width: 400px;
    height: 40px;

    background-color: #c1dfc7;
    stroke-width: 1px;
    margin-bottom: 8px;
    opacity: 0.9;

    border-style: solid;
    border-radius: 25px;
    border-color: rgba(24,24,24,1);
    border-width: 2px;

    font-family: Montserrat, sans-serif;
    color: rgba(24,24,24,1);
    font-size: 22px;

    text-align: center;
    vertical-align: middle;
    line-height: 40px;

    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

    user-select: none;

    box-shadow: 5px 5px 2px black;

    position:relative;
    outline:none;
    cursor: pointer;
}

/*ripple effect*/
.ripple{
    overflow:hidden;
}

.ripple-effect{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

.welcome{
    color: #2bc136;
}


p,li{
    color: grey;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px;


    font-family: Montserrat, sans-serif;
    font-size: 17px;
    color: whitesmoke;

    text-align: center;
}



#column1{
    flex-direction: column;
    height: 100%;
    width: 20%;
}

#column2{
    flex-direction: column;
    height: 100%;
    width: 40%;
}

#column3{
    flex-direction: column;
    height: 100%;
    width: 20%;
}

#column4{
    flex-direction: column;
    height: 100%;
    width: 20%;
}


.column {
    display: flex;
}
