body{
    background-attachment: fixed;
    background-color: #121212;
    margin:1px;
}

.container {
    height: 768px;
    width: 1366px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px;


    font-family: 'Helvetica Neue', sans-serif;
    color: white;

    text-align: center;
}



#column1{
    flex-direction: column;
    height: 100%;
    width: 220px;
    margin-left: 20px;
}

#column2{
    flex-direction: column;
    height: 100%;
    width: 640px;
}

#column3{
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin-right: 50px;
}

.column {
    display: flex;
}

