body{
    /*background: linear-gradient(to top , rgba(24,24,24,1), rgba(79,107,80,0.95));*/
    background-attachment: fixed;
    background-color: #121212;
    margin:1px;
}

.container {
    height: 768px;
    width: 1366px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px;


    font-family: Montserrat, sans-serif;
    font-size: 17px;
    color: whitesmoke;

    text-align: center;
}



#column1{
    flex-direction: column;
    height: 100%;
    width: 220px;
}

#column2{
    flex-direction: column;
    height: 100%;
    width: 640px;
}

#column3{
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.column {
    display: flex;
}

