.permanent{
    display: flex;



    border: solid;
    border-radius: 25px;
    border-width: 0.5px;
    height: 20px;
    background-color: #4a4a4a;
    margin-top: 2px;
}

.popUp{
    display: none;
}

/*.titleLink{*/
    /*color: #3af55c*/
/*}*/

.selectedRecommendation{
    background-color: white;
}

.playButton{
    background: none;
    border: none;
    outline: none;
    color: #29a747;
}

.progress{
    height: 10px;
    width: 50%;
    background-color: grey;
    border-radius: 25px;
    margin: 2px;

    display: flex;
    flex-direction: column;
}

.bar{
    height: 10px;
    background-color: green;
    border-radius: 25px;
}