.axis{
    fill: white
}

#x-axis{
    display: flex;
    justify-content: flex-end;
}

#x{
    margin-right: 150px;

}

#y-axis{
    display: flex;
    justify-content: flex-start;
}

#spanY{
    margin-left: 100px;
}

.custom-select{
    display: flex;
    width: 200px;
}

.selections{
    display: flex;
    flex-direction: column;
}

.selections.hidden{
    display: none;
}