.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(59, 59, 59);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    display: flex;
    flex-direction: column;

    font-size:30px;
    cursor:pointer;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;

    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.navRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sideBar{
    height: 100%;
    background-color: rgb(59, 59, 59);
    width: 100px;
    padding: 20px;
    font-size:30px;
    cursor:pointer;
}

.sideBarTitle{
    transform: rotate(90deg);
    align-self: flex-start;
    white-space: pre;
    margin: 20px;
}

/*#dislikedSongsList .recommendation{*/
    /*background-color: blue;*/
/*}*/

.sidenav .recommendation .thumbUp{
    display: none;
}

.sidenav .recommendation .thumbDown{
    display: none;
}

.sidenav .recommendation .showPopUp{
    display: none;
}

.sidenav .recommendation .permanent{
    width: 400px;
}

.sideNav .far{
    color: red;
}