/*slider*/

.slidecontainer {
    /*margin-top: 20px;*/
    margin-bottom: 10px;
    width: 220px;
}

.sliderInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}




.sliderOutput{
    background: none;
    border: none;
    width: 80px;
}

.ui-slider{
    background: grey;
}

.ui-slider-handle{
    border-radius: 10px;
    outline: none

}

.tooltip{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.fa-question-circle{
    font-size: 15px;
}


