.radarChart{
    width: 620px;
    height: 620px;

    padding: 10px;
    fill: rgb(245, 245, 245);
}

.legend{
    font-family: Montserrat, sans-serif;
    fill: rgb(245, 245, 245);
}

.line{
    stroke: #9c9696;
    stroke-width: 0.5px;
}

.radarChartArea{
    stroke-width: 2px;
    stroke: rgb(88, 156, 102);

    fill: rgba(91, 160, 104, 0.56);

}

.radarChartAreaHover{
    stroke-width: 2px;
    stroke: rgb(88, 156, 102);

    fill: rgba(100, 152, 245, 0.5);

}

.radarChartNode{
    fill: #b07ac3fc;

}

.radarChartNodeHover{
    fill: #7ac38cfc;
}

.tooltipAxes{
    display: none;
}

.tooltip{
    display: none;
}

#tooltipDiv{
    height: 70px;
}