
<div class="artistDiv" id={{id}}>
    <div class="checkbox" id='checkbox_{{id}}'  >
        <div class="checkSlider" id='checkSlider_{{id}}'></div>
    </div>
    <div class="artistName"> {{name}} </div>
</div>
